Basic Output in Python

In [ ]:
print('python is powerful')

python is powerful

In [ ]:
print('Good Morning!')
print('It is rainy today')

Good Morning!
It is rainy today

In [ ]:
# print with end whitespace
#print('Good Morning!', end= ' ')

print('Good Morning!', end = ' ')

print('It is rainy today')

Good Morning! It is rainy today

In [ ]:
print('New Year', 2023, 'See you soon!', sep= '. ')

New Year. 2023. See you soon!

In [ ]:
number = -10.6

name = "Teknologi Informasi"

# print literals
print(5)

# print variables
print(number)
print(name)

5
-10.6
Teknologi Informasi

Print Concatenated Strings

In [ ]:
print('Teknologi Informasi ' + 'Universitas Tidar')

Teknologi Informasi Universitas Tidar

**Output formatting**

In [ ]:
x = 5
y = 10

print('The value of x is {} and y is {}'.format(x,y))

The value of x is 5 and y is 10

Basic Input in Python

Python User Input

In [ ]:
# using input() to take user input
num = input('Enter a number: ')

print('You Entered:', num)

print('Data type of num:', type(num))

Enter a number: 66
You Entered: 66
Data type of num: <class 'str'>

**Reading Files Python**

**Download Data**

In [ ]:
!pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9656 sha256=32270106006315eb97f7a58c268d88fa365076c97b51a19118a6c595b34ac96e
  Stored in directory: /root/.cache/pip/wheels/8b/f1/7f/5c94f0a7a505ca1c81cd1d9208ae2064675d97582078e6c769
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [ ]:
# Download Example file
!mkdir -p /resources/data
!wget -O /resources/data/Example1.txt https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt

--2024-09-06 06:52:15--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45 [text/plain]
Saving to: ‘/resources/data/Example1.txt’

/resources/data/Exa 100%[===================>]      45  --.-KB/s    in 0s

2024-09-06 06:52:15 (6.79 MB/s) - ‘/resources/data/Example1.txt’ saved [45/45]

In [ ]:
# Read the Example1.txt

example1 = "/resources/data/Example1.txt"
file1 = open(example1, "r")

In [ ]:
# Print the path of file

file1.name

'/resources/data/Example1.txt'

In [ ]:
# Read the file

FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [ ]:
!mkdir -p /resources/data

In [ ]:
# Write line to file

with open('/resources/data/Example2.txt', 'w') as writefile:
    writefile.write("This is line A")

In [ ]:
# Read file

with open('/resources/data/Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [ ]:
# Write lines to file

with open('/resources/data/Example2.txt', 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [ ]:
# Check whether write to file

with open('/resources/data/Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

**weekly exercise 1**

1. Buatlah sebuah file .txt yang berisi biodata Anda meliputi : nama, program studi, NPM, alamat, hobi, dan email.

In [ ]:
with open("Galang.txt", 'w') as writefile:
    writefile.write("Nama           : Galang Dwi Santoso\n")
    writefile.write("Program Studi  : Teknologi Informasi\n")
    writefile.write("NPM            : 2440506078\n")
    writefile.write("Alamat         : Jetis, Kedungsari, Bandongan, Magelang\n")
    writefile.write("Hobi           : Main Game\n")
    writefile.write("Email          : galangdwisantosoo17gmail.com\n")

In [ ]:
with open("Galang.txt", 'r') as testwritefile:
    print(testwritefile.read())

Nama           : Galang Dwi Santoso
Program Studi  : Teknologi Informasi
NPM            : 2440506078
Alamat         : Jetis, Kedungsari, Bandongan, Magelang
Hobi           : Main Game
Email          : galangdwisantosoo17gmail.com

2. Buatlah script untuk menampilkan menampilkan nama, program studi, dan email.

In [ ]:
with open('Galang.txt','r') as galang:
   FileastList = galang.readlines()

print(FileastList[0])
print(FileastList[1])
print(FileastList[5])

Nama           : Galang Dwi Santoso

Program Studi  : Teknologi Informasi

Email          : galangdwisantosoo17gmail.com

3. Buatlah script untuk mengambil data nama, NPM, program studi dan alamat kemudian menyimpan dalam bentuk file txt yang baru.

In [ ]:
with open('Galang2.txt','w') as gal:
  gal.write(FileastList[0])
  gal.write(FileastList[0])
  gal.write(FileastList[0])
  gal.write(FileastList[0])

In [ ]:
with open("Galang2.txt",'r') as gal:
  print(FileastList[0])
  print(FileastList[2])
  print(FileastList[1])
  print(FileastList[3])

Nama           : Galang Dwi Santoso

NPM            : 2440506078

Program Studi  : Teknologi Informasi

Alamat         : Jetis, Kedungsari, Bandongan, Magelang

Weekly Exercise 2

In [ ]:
print ("Selamat datang di Toko Maju Jaya")
print "Senin, 4 September 2023       13.05")
print(" ")

print ("DAFTAR BELANJA:")
item1 = "Sabun"
item2 = 'Shampo'
item3 = 'Mie instant'
item4 = Detergen'
harga1 = Rp 10000
harga2 = 15000
harga3 = Rp 5000
harga4 = 17500

total = hargga1+harga2+hargga3+harga

print(item1,          = Rp  + harga1)
print(item2, '        = Rp '+ harga2)
print(item3,    = Rp + hargaa3)
print(item4,       = Rp + harga)

print(" ")
print("Total = Rp "+total)

with open('Kuitansi.txt', w') writefile:
        writefiile.write("Selamat Datang di Toko Maju Jaya\n")
        writefille.write(" \n")
        writefiile.write("Kuitansi - 4 Septermber 2023\n")
        writefille.write(" \n")
        writefiile.write(item1+" = Rp " harga1+"\n"
        writefille.write(item2+" = Rp " harga2")
        writefiile.write(item3+" = Rp " harga3+\n")
        writefille.write(item4+" = Rp " harga4+"\n)
        writefiile.write(" \n")
        writefille.write("Total Belanja ="+total

SyntaxError: unmatched ')' (<ipython-input-1-10555eabd207>, line 2)

In [ ]:
print("Selamat datang di Toko Maju Jaya")
print("Senin, 4 September 2023       13.05")
print(" ")

print("DAFTAR BELANJA:")

item1 = "Sabun"
item2 = 'Shampo'
item3 = 'Mie instant'
item4 = 'Detergen'

harga1 = 10000
harga2 = 15000
harga3 = 5000
harga4 = 17500

total = harga1 + harga2 + harga3 + harga4

print(item1, " = Rp", harga1)
print(item2, " = Rp", harga2)
print(item3, " = Rp", harga3)
print(item4, " = Rp", harga4)

print(" ")
print("Total = Rp", total)

with open('Kuitansi.txt', 'w') as writefile:
    writefile.write("Selamat Datang di Toko Maju Jaya\n")
    writefile.write("\n")
    writefile.write("Kuitansi - 4 September 2023\n")
    writefile.write("\n")
    writefile.write(item1 + " = Rp " + str(harga1) + "\n")
    writefile.write(item2 + " = Rp " + str(harga2) + "\n")
    writefile.write(item3 + " = Rp " + str(harga3) + "\n")
    writefile.write(item4 + " = Rp " + str(harga4) + "\n")
    writefile.write("\n")
    writefile.write("Total Belanja = " + str(total) + "\n")

Selamat datang di Toko Maju Jaya
Senin, 4 September 2023       13.05

DAFTAR BELANJA:
Sabun  = Rp 10000
Shampo  = Rp 15000
Mie instant  = Rp 5000
Detergen  = Rp 17500

Total = Rp 47500